name: proper_multiselect_search_dropdown
description: "multiselect_search_dropdown used for dropdown with multiselect and search functionality."
version: 1.0.1
homepage: https://github.com/CHARLESJESU/multiselect_search_dropdown.git

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

topics:
  - dropdown
  - multiselect
  - search
  - widget
  - ui